.announcement-page {
  background-image: url("webdev-pic2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;  /* Align items to the top of the page */
  padding: 20px;
}

.announcement-list-container, .add-announcement-container {
  width: 45%;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Adding some transparency */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.announcement-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
}

.announcement-list ul {
  list-style-type: none;
  padding: 0;
}

.announcement-list li {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.announcement-list h3 {
  color: #555;
  font-size: 20px;
  margin-bottom: 10px;
}

.announcement-list p {
  color: #777;
  font-size: 16px;
  margin-bottom: 10px;
}

.add-announcement {
  display: flex;
  flex-direction: column;
}

.add-announcement input,
.add-announcement textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-announcement button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ff4b2b;
  color: #fff;
  cursor: pointer;
}

.add-announcement button:hover {
  background-color: #ff416c;
}

.delete-button {
  color: red;
}

